<?xml version="1.0" encoding="UTF-8"?><launchConfiguration type="com.ibm.rational.test.ft.rftScript">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/RFT_ICE/Scripts/Comun/Login.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<booleanAttribute key="org.eclipse.debug.ui.ATTR_LAUNCH_IN_BACKGROUND" value="false"/>
<listAttribute key="org.eclipse.jdt.launching.CLASSPATH">
<listEntry value="C:\Program Files (x86)\IBM\SDP\FunctionalTester\bin\rational_ft.jar"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="com.rational.test.ft.rational_ft"/>
<listAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS">
<listEntry value="-projectpath"/>
<listEntry value="&quot;C:\Users\rft\IBM\rationalsdp\workspace\RFT_ICE&quot;"/>
<listEntry value="-datastore"/>
<listEntry value="&quot;C:\Users\rft\IBM\rationalsdp\workspace\RFT_ICE&quot;"/>
<listEntry value="-idemailslot"/>
<listEntry value="wswplugin_*ide*_x1"/>
<listEntry value="-idetype"/>
<listEntry value="wswplugin"/>
<listEntry value="-rt.interactive"/>
<listEntry value="true"/>
<listEntry value="-rt.log_format"/>
<listEntry value="xml"/>
<listEntry value="-log"/>
<listEntry value="Scripts.Comun.Login"/>
<listEntry value="-iterationcount"/>
<listEntry value="ALL"/>
<listEntry value="-rt.log_action"/>
<listEntry value="false"/>
<listEntry value="-rt.log_screen_snapshot"/>
<listEntry value="false"/>
<listEntry value="-playback"/>
<listEntry value="Scripts.Comun.Login"/>
<listEntry value="-args"/>
<listEntry value="JVALERIO1"/>
<listEntry value="j123456"/>
<listEntry value="QA"/>
<listEntry value="res"/>
<listEntry value="true"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="RFT_ICE"/>
<listAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS"/>
<stringAttribute key="org.eclipse.jdt.launching.WORKING_DIRECTORY" value="C:\Users\rft\IBM\rationalsdp\workspace\RFT_ICE"/>
</launchConfiguration>